/*---------------------------------General Style--------------------------*/
@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.fa-star {
    font-size: 70%;
    color: #0065FC;
}

.ranking-minus {
    color: #F2F2F2;
}

/*-------------------------------------Header Style--------------------------------*/
body > header {
    display: flex;
    width: 93%;
    max-width: 1785px;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo {
    display: flex;
    align-self: center;
    width: 7%;
    height: auto;
    padding: 3% 0;
}

#logo img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: flex-start;
    width: 28%;
}

.nav-active, .nav-inactive {
    display: flex;
    width: 50%;
}

.nav-active a, .nav-inactive a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
}

.nav-active p {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20% 0;
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #FFF;
    color: #0065FC;
    font-weight: 500;
}

.nav-inactive p {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20% 0;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    font-weight: 400;
}

.nav-inactive a:hover > p {
    border-top-color: #0065FC;
    color: #0065FC;
    font-weight: 500;
}

/*--------------------------------Style Main-------------------------------*/
main {
    display: flex;
    width: 93%;
    max-width: 1785px;
    flex-direction: column;
    align-items: flex-start;
}

main > h2 {
    font-size: 125%;
    font-weight: bold;
}

main > p {
    font-size: 90%;
    font-weight: 500;
    margin: 1% 0;
}

main > form {
    display: flex;
    width: 430px;
    align-items: center;
    margin: 10px 0;
}

main > form :nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 16px;
    font-size: 100%;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form :nth-child(2) {
    box-sizing: border-box;
    height: 50px;
    padding: 0 4%;
    font-size: 115%;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-width: 3px 0;
    overflow: hidden;
    outline: none;
}

form input::placeholder {
    opacity: 1;
    color: black;
    font-weight: bold;
}

form :nth-child(3) {
    height: 50px;
    padding: 0 3%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFF;
    font-size: 85%;
    font-weight: 600;
    background-color: #0065FC;
    border: 3px solid #0065FC;
}

form :nth-child(3):hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

.form :nth-child(4) {
    display: none;
}

/*----------------------------------Section Filter--------------------------*/
.filters-general {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 25px 0;
    font-weight: bold;
}

.filters-general > h3 {
    font-size: 105%;
    margin-right: 20px;
}

.filters-button {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #F2F2F2;
    height: 50px;
    margin: 0 1%;
    border-radius: 25px / 50%;
    font-size: 100%;
    flex-basis: content;
}

.filters > .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 70%;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    left: -2px;
}

.filters p {
    justify-content: center;
    font-size: 80%;
    margin: 0 15px 0 10px;
    position: relative;
    left: -1px;
}

.filters:hover {
    cursor: pointer;
}

.filters:hover  .fas{
    background-color: #0065FC;
    color: #DEEBFF;
    font-size: 100%;
}

.filters:hover  p {
    color: #0065FC;
}

.fa-search {
    display: none;
}

/*--------------------------------Style Infoville--------------------------------*/
.info-city {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.info-city > img {
    width: 35px;
    height: auto;
    margin-right: 1%;
}

.info-city p {
    font-size: 100%
}

/*----------------------------------Style section hébergements populaire------------------------*/
.container-lodging-popular {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1% 0%;
}
.money, .cheapest {
    font-weight: bold;
}

.container-lodging-popular h3 {
    font-size: 74%;
    font-weight: bold;
}

.container-lodging-popular p {
    font-size: 63%;
}
/*----------------------------------Style hebergements-------------------------------*/
#lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    background-color: #F2F2F2;
    width: 66%;
    max-width: 1178px;
    border-radius: 25px;
}

#lodging > header > h2 {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 10px;
}

/*---------Cards-lodging-------------*/
#lodging > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lodging-block1, .lodging-block2  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48%;
}

.card-lodging {
    background-color: #FFF;
    border-radius: 25px;
    width: 30%;
    height: auto;
}

.card-lodging a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.img-lodging {
    width: 100%;
    height: 55%;
    overflow: hidden;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 6px solid #FFF;
    border-bottom: none;
}

.img-lodging img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-lodging {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5% 6%;
}

/*-------------Input Lodging-----------*/
#lodging > form {
    width: 100%;
}
#lodging > form > input {
    font-size: 120%;
    font-weight: bold;
    border: none;
    background-color: #F2F2F2;
    margin-top: 3%;
}

#lodging > form > input:hover {
    cursor: pointer;
}

/*----------------------------------Style Populaire--------------------------*/
.populars {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 30%;
    max-width: 536px;
    padding: 2%;
}

.populars > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    align-self: flex-start;
    margin-bottom: 10px;
}

.populars > header > h2 {
    font-size: 125%;
    font-weight: bold;
}

.fa-chart-line {
    font-size: 125%;
}

.cards-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-popular {
    width: 100%;
    height: 30%;
}

.card-popular a {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding-right: 5px;
}

.img-popular {
    flex: 1 2 30%;
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    object-fit: cover;
    border: 6px solid #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.info-popular {
    flex: 2 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 4%;
}

.text-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

/*-----------------------------------------------Style Activités-----------------------------------*/
#activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
}

#activities > header {
    font-size: 140%;
    font-weight: bold;
    margin: 2% 0;
}

.activities {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24vw;
    max-height: 461px;
}

.activities h3 {
    display: flex;
    box-sizing: border-box;
    font-size: 120%;
    font-weight: bold;
    padding: 7%;
    width: 100%;
}

.link-activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: max(1.3vw, 25px);
}

.solo-activity {
    width: 23%;
    height: 100%;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #F2F2F2, 5px 5px 10px #F2F2F2;
}

.solo-activity img {
    width: 100%;
    height: 84%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    z-index: 1;
}

.duo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 100%;
}

.fort {
    height: 52%;
    width: 100%;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #F2F2F2, 5px 5px 10px #F2F2F2;
}

.fort img {
    width: 100%;
    height: 68%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
}

.frioul {
    width: 100%;
    height: 37%;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #F2F2F2, 5px 5px 10px #F2F2F2;
}

.frioul img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.dame {
    width: 100%;
    height: 43%;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #F2F2F2, 5px 5px 10px #F2F2F2;
}

.dame img {
    width: 100%;
    height: 61%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: top;
}

.parc {
    width: 100%;
    height: 45%;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #F2F2F2, 5px 5px 10px #F2F2F2;
}

.parc img {
   width: 100%;
   height: 63%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   object-position: center;
}

/*-------------------------------------------Style Footer---------------------------------------*/
footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: center;
    margin-top: 2%;
}

footer > div {
    display: flex;
    justify-content: space-between;
    width: 93%;
    max-width: 1785px;
    padding: 2% 0%;
}

.menu-footer {
    width: 33%;
    padding: 1% 0;
}

.menu-footer > h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 2%;
}

.menu-footer > p {
    padding: 1% 0;
}

/*Hover Cards */
.card-lodging:hover, .card-popular:hover, .solo-activity:hover, .fort:hover, .frioul:hover, .dame:hover, .parc:hover, .filters:hover {
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 2;
}

/*--------------------------------- Version Téléphone Iphone 8 -----------------------------------------*/
@media all and (max-width: 767px)
{

    /*Style Header*/
    body > header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        width: 40%;
        transform: scale(1);
    }

    nav {
        width: 100%;
        height: 70px;
    }

    nav > div {
        align-items: center;
        height: 100%;
        border: none;
    }

    nav a {
        height: 100%;
    }

    .nav-active a {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    nav p {
        display: flex;
        align-items: center;
        height: 100%;
        border: none;
        font-size: 110%;
    }

    /*-------------Style Main--------------------*/
    main {
        padding: 30px 0px;
    }

    main > * {
        margin: 10px 0;
    }

    main > h2 {
        font-size: x-large;
    }

    main > form {
        box-sizing: border-box;
        margin: 15px 0px;
        width: 100%;
        height: 50px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        margin: 20px 0;
    }

    main > form :nth-child(1) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    main > form :nth-child(2) {
        border: none;
        height: 100%;
        flex-grow: 1;
        padding: 0 3%;
        font-size: large;
    }

    input[value=Rechercher] {
        display: none;
    }

    .fa-search {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: none;
        width: 50px;
        height: 50px;
        font-size: large;
        background-color: #0065FC;
        color: #FFF;
        border-radius: 15px;
    }
    
    /*-------------------------Style Filters------------------------*/
    .filters-general {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        height: 100%;
        width: 100%;
        margin: 15px 0;
    }

    .filters > h3 {
        width: 100%;
    }

    .filters-button {
        display: flex;
        column-gap: 2%;
        flex-wrap: wrap;
        align-content: space-around;
        row-gap: 10px;

    }

    .filters {
        box-sizing: border-box;
        min-width: 40%;
        height: 50px;
        border: 3px solid #F2F2F2;
        transform: none;
        transition: 0.1s;
        z-index: 1; 
    }

    .filters:hover {
        border: none;
    }

    .filters .fas {
        box-sizing: border-box;
        height: 100%;
        width: 50px;
        min-height: 50px;
    }

    .filters > p {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        font-size: medium;
    }

    /*----------------------Style Info-city--------------------*/
    .info-city {
        align-items: flex-start;
        justify-content: space-between;
    }

    .info-city > img {
        width: 9%;
        height: 9%;
        margin-right: 5%;
    }

    .info-city > p {
        padding: 1% 0;
    }

    /* -----------------------Section Lodging Popular-----------------------*/
    .container-lodging-popular {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .populars {
        width: 100%;
        align-items: center;
    }

    .populars > header {
        align-self: center;
        width: 93%;
        justify-content: space-between;
        font-size: 130%;
    }

    .populars > header >h2, .populars > header > i {
        font-size: 100%;
    }

    .cards-popular {
        width: 93%;
    }

}