/*---------------------------------General Style--------------------------*/
@font-face {
    font-family: Raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: min(1vw, 20px);
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.fa-star {
    font-size: 90%;
    color: #0065FC;
}

.ranking-minus {
    color: #EEE;
}

/*-------------------------------------Header Style--------------------------------*/
body > header {
    display: flex;
    width: 93%;
    max-width: 1785px;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo {
    display: flex;
    align-self: center;
    box-sizing: border-box;
    width: 10%;
    height: auto;
    max-width: 179px;
}

#logo img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20% 0;
}

nav {
    display: flex;
    justify-content: center;
    width: 24%;
    min-width: 260px;
}

.nav-active, .nav-inactive {
    display: flex;
    flex-grow: 1;
    width: 50%;
    min-width: 130px;
    height: 100%;
    min-height: 80px;
}

.nav-active a, .nav-inactive a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-weight: 200;
    box-sizing: border-box;
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #FFF;
}

.nav-inactive a {
    border-top-color: #FFF;
}

.nav-active p {
    color: #0065FC;
    font-weight: 500;
}

.nav-inactive a:hover {
    box-sizing: border-box;
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #FFF;
    color: #0065FC;
    font-weight: 500;
}

/*--------------------------------Style Main-------------------------------*/
main {
    display: flex;
    width: 93%;
    max-width: 1785px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 100%;
}

main > h2 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.5%;
}

main > p {
    font-size: 110%;
    margin-bottom: 1%;
}

main > form {
    display: flex;
    width: 30%;
    max-width: 550px;
    min-height: 50px;
    align-items: center;
    font-size: 120%;
}

main > form :nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 20vw;
    max-width: 57px;
    height: 3vw;
    max-height: 57px;
    font-size: 100%;
    background-color: #F2F2F2;
    border-top-left-radius: 25% 30%;
    border-bottom-left-radius: 25% 30%;
}

form :nth-child(2) {
    display: flex;
    height: 3vw;
    max-height: 57px;
    box-sizing: border-box;
    padding: 0 4%;
    flex-grow: 1;
    font-size: 85%;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-width: 3px 0;
    overflow: hidden;
    outline: none;
}

form input::placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 100%;
}

form :nth-child(3) {
    height: 3vw;
    max-height: 57px;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 0 5%;
    border: 2px solid #0065FC;
    border-top-right-radius: 10% 33%;
    border-bottom-right-radius: 10% 33%;
    color: #FFF;
    font-size: 85%;
    background-color: #0065FC;
    border: 3px solid #0065FC;
}

form :nth-child(3):hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

form :nth-child(4) {
    background-color: #0065FC;
}

/*----------------------------------Section Filter--------------------------*/
.filters-general {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: 2% 0;
}

.filters-general > h3 {
    font-size: 85%;
    margin-right: 1%;
}

.filters-button {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 120%;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    box-sizing: border-box;
    border: 3px solid #F2F2F2;
    border-left: 0px;
    margin: 0 1%;
    border-radius: min(1.5vw, 29px) / 50%;
    font-size: 100%;
    height: 3vw;
    max-height: 60px;
}

.filters > .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    max-height: 60px;
    width: 3vw;
    max-width: 60px;
    font-size: 70%;
    margin-right: 15px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    left: -2px;
}

.filters p {
    justify-content: center;
    margin-right: 20px;
    font-size: 80%;
}

.filters:hover {
    cursor: pointer;
}

.filters:hover  .fas{
    background-color: #0065FC;
    color: #DEEBFF;
}

.filters:hover  p {
    color: #0065FC;
}

.fa-search {
    display: none;
}

/*--------------------------------Style Infoville--------------------------------*/
.info-city {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.info-city > img {
    width: 2%;
    height: auto;
    margin-right: 1%;
}

.info-city p {
    font-size: 100%
}

/*----------------------------------Style section hébergements populaire------------------------*/
.container-lodging-popular {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
}
.money, .cheapest {
    font-weight: bold;
}

/*----------------------------------Style hebergements-------------------------------*/
#lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    background-color: #F2F2F2;
    width: 66%;
    max-width: 1178px;
    border-radius: 25px;
}

#lodging > header > h2 {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1%;
}

#lodging > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: auto;
}

.lodging-block1, .lodging-block2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46%;
    margin-bottom: 4%;
}

.card-lodging {
    background-color: #FFF;
    width: 30%;
    max-width: 400px;
    height: 14vw;
    max-height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 10px #EEE;
}

.card-lodging a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.img-lodging {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
}

.img-lodging > img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid #FFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
}

.info-lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding: 5% 6%;
}

.info-lodging > h3 {
    width: 100%;
    font-size: 110%;
    font-weight: bold;
}

.info-lodging > p {
    font-size: 100%;
}

#lodging > form > input {
    font-size: 130%;
    font-weight: bold;
    border: none;
    background-color: #F2F2F2;
    margin-bottom: 1%;
}

#lodging > form > input:hover {
    cursor: pointer;
}

/*----------------------------------Style Populaire--------------------------*/
.populars {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 30%;
    max-width: 536px;
    padding: 2%;
}

.populars > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    align-self: flex-start;
    margin-bottom: 3%;
}

.populars > header > h2 {
    font-size: 150%;
    font-weight: bold;
}

.fa-chart-line {
    font-size: 150%;
}

.cards-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-popular {
    width: 100%;
    height: 30%;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 10px #EEE;
}

.card-popular a {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding-right: 5px;
}

.img-popular {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 53% 50%;
    border: 6px solid #FFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.info-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 4%;
}

.text-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.text-popular > h3 {
    font-size: 110%;
    font-weight: bold;
}

.text-popular > p {
    font-size: 100%;
}

/*-----------------------------------------------Style Activités-----------------------------------*/
#activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
}

#activities > header {
    font-size: 140%;
    font-weight: bold;
    margin: 2% 0;
}

.activities {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vw;
    max-height: 461px;
}

.activities h3 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    font-size: 120%;
    font-weight: bold;
    padding: 0 7%;
    width: 100%;
    height: 4vw;
    flex-shrink: 0;
}

.link-activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: max(1.3vw, 25px);
}

.solo-activity {
    width: 23%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px #EEE;}

.solo-activity img {
    width: 100%;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    flex-grow: 1;
    
}

.duo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 100%;
}

.fort {
    height: 52%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px #EEE;}

.fort img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    flex-grow: 1;
}

.frioul {
    width: 100%;
    height: 37%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px #EEE;}

.frioul img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    flex-grow: 1;
}

.dame {
    width: 100%;
    height: 43%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 10px #EEE;}

.dame img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: center 15%;
    flex-grow: 1;
}

.parc {
    width: 100%;
    height: 45%;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 10px #EEE;}

.parc img {
   width: 100%;
   height: 58%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   object-position: center 45%;
   flex-grow: 1;
}

/*-------------------------------------------Style Footer---------------------------------------*/
footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: center;
    margin-top: 2%;
}

footer > div {
    display: flex;
    justify-content: space-between;
    width: 93%;
    max-width: 1785px;
    padding: 2% 0%;
}

.menu-footer {
    width: 33%;
    padding: 1% 0;
}

.menu-footer > h4 {
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 2%;
}

.menu-footer > p {
    padding: 1% 0;
}

/*Hover Cards */
.card-lodging:hover, .card-popular:hover, .solo-activity:hover, .fort:hover, .frioul:hover, .dame:hover, .parc:hover, .filters:hover {
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 2;
    box-shadow: none;
}

/*--------------------------------- Version Téléphone Iphone 8 -----------------------------------------*/
@media all and (max-width: 767px)
{
    /*-----------------Style Général------------------------*/
    body {
        font-size: min(20px, 4vw);
    }

    /*Style Header*/
    body > header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        width: 30%;
        height: auto;
        transform: scale(1);
    }

    #logo img {
        padding-bottom: 10%;

    }
    nav {
        width: 100%;
        height: min(18vw, 70px);
    }

    nav > div {
        align-items: center;
        width: 50%;
        height: 100%;
        border: none;
    }

    nav a {
        height: 100%;
    }

    .nav-active a {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav-inactive a {
        border-bottom: 3px solid #F2F2F2;
    }
    
    .nav-inactive a:hover {
        border-top-color: #FFF;
        border-bottom-color: #0065FC;
    }
    
    nav p {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 110%;
    }

    /*-------------Style Main--------------------*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: 100%;
    }

    main > * {
        margin: 10px 0;
        width: 93%;
    }

    .container-lodging-popular {
        width: 100%;
    }

    main > h2 {
        font-size: 153%;
    }

    main > form {
        box-sizing: border-box;
        margin: 15px 0px;
        width: 93%;
        max-width: 757px;
        height: 55px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        margin: 20px 0;
    }

    main > form :nth-child(1) {
        box-sizing: border-box;
        padding: 18px;
        height: 100%;
        max-width: 60px;
        font-size: 16px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    main > form :nth-child(2) {
        border: none;
        height: 100%;
        flex-grow: 1;
        padding-left: 5%;
        font-size: 20px;
    }

    main > form :nth-child(2)::placeholder {
        color: black;
    }

    main > form :nth-child(3) {
        display: none;
    }

    .fa-search {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: none;
        padding: max(3%, 20px);
        font-size: 13px;
        font-weight: 600;
        background-color: #0065FC;
        color: #FFF;
        border-radius: 15px;
    }
    
    /*-------------------------Style Filters------------------------*/
    .filters-general {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        height: 100%;
        width: 93%;
        margin: 15px 0;
    }

    .filters-general > h3 {
        width: 100%;
        font-size: 110%;
        margin-bottom: 2%;
    }

    .filters-button {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-content: space-around;

    }

    .filters {
        box-sizing: border-box;
        height: 50px;
        border: 3px solid #F2F2F2;
        border-radius: 25px;
        margin: 1% 0;
        margin-right: 2%;
    }

    .filters .fas {
        box-sizing: border-box;
        height: 50px;
        padding: 23px;
        margin-right: 0;
        font-size: 18px;
        position: relative;
        left: -2px;
    }

    .filters > p {
        font-size: 80%;
        position: relative;
        padding-left: 11px;
        padding-right: 12px;
        margin: 0;
        left: -2px;
    }

    /*----------------------Style Info-city--------------------*/
    .info-city {
        width: 93%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

    }

    .info-city > img {
        align-self: baseline;
        width: 7%;
        height: 7%;
        margin-right: 3%;
        align-self: flex-start;
    }

    .info-city > p {
        width: 90%;
        margin: 2% 0;
        padding: 0;
    }

    /* -----------------------Section Lodging Popular-----------------------*/
    .container-lodging-popular {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .populars {
        justify-content: space-between;
        width: 100%;
        max-width: 767px;
        padding: 6% 2%;
        align-items: center;
        border-radius: 0;
        margin-bottom: 3%;
    }

    .populars > header {
        align-self: center;
        width: 93%;
        justify-content: space-between;
        margin-bottom: 4%;
        font-size: 100%;
    }

    .cards-popular {
        width: 93%;
        max-height: 930px;
        height: 100%;
    }

    .card-popular {
        width: 100%;
        height: 35vw;
        max-height: 300px;
        margin-bottom: 15px;
    }
    
    .cards-popular a {
        width: 100%;
        height: 100%;
        padding-right: 0;
    }
    .img-popular {
        width: 35%;
        height: 100%;
        margin-right: 0;
        object-fit: cover;
    }

    .info-popular {
        height: 100%;
        width: 65%;
        padding: 4% 8% 3% 2%;
    }

    .text-popular {
        font-size: 100%;
        height: 50%;
    }

    /*----------Style Lodging---------------*/
    #lodging {
        width: 93%;
        align-self: center;
        background-color: #FFF;
        font-size: 100%;
    }

    #lodging > header {
        font-size: 100%;
    }

    .lodging-block1, .lodging-block2 {
        flex-direction: column;
        align-items: center;
        max-height: none;
        margin-bottom: 0;
    }

    .card-lodging {
        width: 100%;
        max-width: 713px;
        height: 58vw;
        box-shadow: 3px 3px 15px 5px #F2F2F2;
        margin-bottom: 15px;
    }

    .card-lodging a {
        width: 100%;
        height: 100%;
        max-height: none;
    }

    .img-lodging {
        width: 100%;
        height: 55%;
        max-height: none;
    }

    .img-lodging > img {
        width: 100%;
        height: 32vw;
        object-fit: cover;
    }

    .info-lodging {
        height: 45%;
        max-height: 202px;
        padding: 3% 4%;
    }

    #lodging > form > input {
        background-color: #FFF;
        margin-top: 10px;
    }

    /*-----------------Style Activities-----------------------*/
    #activities {
        width: 93%;
        margin: 2% 0;
    }
    
    #activities > header {
        font-size: 150%;
        margin: 7% 0;
    }

    .activities {
        flex-direction: column;
        height: 100%;
        max-height: none;
    }

    .solo-activity, .duo {
        width: 100%;
        max-width: 713px;
    }

    .solo-activity, .fort, .frioul, .dame, .parc {
        height: 58vw;
        max-height: 450px;
        margin-bottom: 15px;
    }

    .activities img {
        height: 43vw;
        max-height: 350px;
    }
    .activities h3 {
        height: 15vw;
        max-height: 100px;
        padding: 0 5%;
        align-items: center;
    }

    /*------------------Style Footer----------------*/
    footer > div {
        flex-direction: column;
        margin: 2% 0;
    }

    .menu-footer {
        font-size: 120%;
        width: 100%;
        margin: 2% 0;
    }

    .menu-footer > h4 {
        margin: 2% 0;
    }

    .menu-footer >p {
        margin: 2% 0;
    }
}